{% extends 'main/layout.html' %}
{% load helpers %}

{% block content %}
    <div class="features">
        <h1>{{ article.title }}</h1>
        <p>Автор: {{ article.user.username }}</p>
        <p>{{ article.full_text|sanitize }}</p>
        <p>{{ article.date }}</p>
        {% if user.is_authenticated and user == article.user %}
            <a href="{% url 'news_delete' article.id %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'news_update' article.id %}" class="btn btn-info">Редактировать</a>
        {% endif %}
    </div>
{% endblock %}

{% block title %}
    {{ article.title }}
{% endblock %}
