{% extends 'main/layout.html' %}

{% block content %}
    <div class="features">
        <h1>Об авторе</h1>
        <p>Проект выполнен студентом ФКН ВГУ на направлении ИСИТ группы номер 2 Рыжкиным Владиславом Андреевичем.</p>
        <p>Связаться с автором:</p>
        <p><a href="https://vk.com/flexyck"><button  class="btn btn-info">Вконтакте</button></a></p>
        <p><a href="mailto:nerentabelen@mail.ru"><button  class="btn btn-info">Почта</button></a></p>
    </div>

{% endblock %}

{% block title %}
    Об авторе
{% endblock %}