{% extends 'main/layout.html' %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Данный проект является учебным и выполнен на языке Python с использованием фреймворка Django.
            Сайт дает возможность регистрации пользователей и написание ими статей. Проект поддерживает основные
            html-тэги в написании статей, а также удаление и редактирование этих статей их авторами.</p>

    </div>
{% endblock %}

{% block title %}
    Главная страница
{% endblock %}