body{
    background: #2C1B47;
    
}

aside{
    float: left;
    background: #724C9D;
    width: 20%;
    padding: 2.5%;
    height: 160vh;
    color: #DCCAE9;
    border-right: 5px solid #DCCAE9;

}


.pagination {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.pagination-link {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  background-color: #724C9D;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.current-page {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  background-color: #04cbf0;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.pagination-link:hover {
  background-color: #04cbf0;
    color: black;
}


aside h3 {
    
    font-size: 38px;
    text-align: center;
}
aside ul h4 {
    margin-bottom: 10px;
}

aside ul {
    margin-top: 30px;
/*
    list-style: none;
    text-decoration: none;
*/

}

aside ul a {
    text-decoration: none;
}

aside ul li {
    font-size: 17px;
    font-style: none;
    text-decoration: none;
    color: #DCCAE9;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color:cyan;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: white;
    margin-top: 50px;
    text-align: center;
    width: 75%;
    
}

main .features h1 {
    font-size: 50px;
    
}

main .features p {
        text-align: justify;
    max-width: 400px;
    margin: 20px auto;
}

.alert-warning{
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form{
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}


.AddBtn {
    margin-left: 15px;
    text-decoration: none;
}

.rectangle {
    background: #724C9D;
    color: black;
    
  position: fixed;
  bottom: 20px;
  left: 35px;
  width: 200px;
  height: 100px;
    border-radius: 10px;
  
}

.LogBtn{
    margin-top: 7px;
    
    display: flex;
  justify-content: left;
    text-decoration: none;
}

.LogoutBtn{
    margin-top: 7px;
    
    display: flex;
  justify-content: left;
    text-decoration: none;
}

.RegBtn{
    display: flex;
    
    margin-top: 10px;
  justify-content: left;
    text-decoration: none;
}

.hello{
     display: flex;
  align-items: center;
    color: #DCCAE9;
}